/* Bootstrap */
@import url("https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css");

body {
  background-color: #222222;
  color: #eeeeee;
  font-family: monospace;
}

button {
  margin: 0.1em;
  border-width: 0;
}
button:hover {
  background-color: cornflowerblue;
  transition: 0.3s;
}
button:active {
  background-color: blue;
  transition: 1s;
}
.yt-input-section {
  margin: 0.1em;
}
.hidden {
  display: none;
}
#app {
  padding-bottom: 2em;
}